    <% if flash.has?(:message) %>
        <%= flash[:message] %>
    <% end %>

<p> 
    <%= @song.name %>
</p>
<p>
    <%= @song.artist.name %> 
</p>
<p>
    <% @song.genres.each do |genre| %> 
        <%= genre.name %>
        <a href="/genres/<%=genre.slug%>">Genre Link</a>
    <% end %>
</p>
<p>
    <a href="/artists/<%=@song.artist.slug%>">Artist Link</a>
    
 </p>




